$font-size:              14px;
$font-size--medium:      18px;
$font-size--big:         21px;
$line-height:            1.7;
$font-family:            sans-serif;

$tablet-widths:          768px;
$desktop-widths:         1200px;
