@font-face {
    font-family: "PF Din Text Cond Pro";
    src: url('../fonts/pfdintextcondpro-light.woff2') format('woff2'),
         url('../fonts/pfdintextcondpro-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: "PF Din Text Cond Pro";
    src: url('../fonts/pfdintextcondpro-regular.woff2') format('woff2'),
         url('../fonts/pfdintextcondpro-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PF Din Text Cond Pro";
    src: url('../fonts/pfdintextcondpro-medium.woff2') format('woff2'),
         url('../fonts/pfdintextcondpro-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}