.banner {
	padding: 10px 0;

	.container {
		padding: 0;
	}

	picture {
		display: block;
	}

	img {
		width: 100%;
		vertical-align: middle;
	}

	@media (min-width: $desktop-widths ) {

		.container {
			padding: 0 10px;
		}
	}
}