.callback-fixed {
	text-align: center;
	font-family: "PF Din Text Cond Pro - X Thin", sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 1;
	text-transform: uppercase;
	color: #c8af6d;
	letter-spacing: 1.7px;
	padding: 5px 0 10px;


	a {
		display: inline-block;
		color: #c8af6d;
		text-decoration: none;
		
		padding-bottom: 3px;
		border-bottom: 1px dashed #c8af6d;

		&:hover,
		&:focus {
			padding-bottom: 4px;
			border-bottom: none;
			outline: none;
		}
	}
}