.events-features {
	padding: 20px 0;

	&__list {
		padding: 0;
		margin: 0;
		list-style: none;

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.events-feature {
	width: 31.5%;
	margin-right: 2.75%;
	margin-top: 2.75%;
	border: 1px solid #c8af6d;
	padding: 45px 20px 30px;
	padding-left: 0;

	&:nth-child(3n) {
		margin-right: 0;
	}

	&:nth-child(1),
	&:nth-child(2),
	&:nth-child(3) {
		margin-top: 0;
	}

	&__title {
		margin: 0;
		font-weight: normal;
		font-size: 20px;
		line-height: 1;
		min-height: 29px;
		color: #fff;
		margin-bottom: 15px;
		background: #ed2eb9;
		display: inline-block;
		position: relative;
		padding: 8px 10px;

		&::before {
			content: '';
			position: absolute;
			z-index: 1;
			width: 9px;
			height: 44px;
			left: -9px;
			top: 0;
			background: url(../img/arrow-red.png) no-repeat;
		}
	}

	&--banquet {
		background: url(../img/icon-banquet.png) no-repeat right 35px top 30px;
	}

	&--equipment {
		background: url(../img/icon-equipment.png) no-repeat right 35px top 30px;
	}

	&--security {
		background: url(../img/icon-security.png) no-repeat right 35px top 30px;
	}

	&--cost {
		background: url(../img/icon-cost.png) no-repeat right 35px top 35px;
	}

	&--service {
		background: url(../img/icon-service.png) no-repeat right 35px top 30px;
	}

	&__desc {
		font-family: 'Arial', sans-serif;
		font-size: 13px;
		color: #231e1f;
		line-height: 1.3;
		padding-left: 20px;

		p {
			margin: 0;
		}
	}
}