.lang-toggle {
	display: block;
	width: 24px;
	height: 19px;
	background: url(../img/icon-lang-toggle.png) no-repeat;
	font-size: 0;
	text-decoration: none;
	position: absolute;
	top: 24px;
	right: 10px;

	@media (min-width: $desktop-widths) {
		position: static;
	}
}