.lease {
	background: url(../img/bg-lease.png) no-repeat center -50px;

	@media (min-width: $desktop-widths) {
		padding-top: 20px;
		background: url(../img/bg-lease-big.png) no-repeat center -150px;
	}

	&__title {
		color: #1b1617;
		font-family: "PT Serif", sans-serif;
		font-style: italic;
		font-size: 15px;
		line-height: 22px;
		text-align: center;
		margin: 0;
		font-weight: normal;
		margin-bottom: 163px;

		@media (min-width: $desktop-widths) {
			font-size: 22px;
			margin-bottom: 315px;
		}
	}

	&___yacht-name {
		display: block;
		font-size: 32px;
		line-height: 42px;

		@media (min-width: $desktop-widths) {
			font-size: 42px;
		}
	}

	&__list {
		@media (min-width: 550px) {
			display: flex;
		}
	}
}

.lease-item {
	background-color: #c8af6d;
	color: #fefeff;
	font-size: 20px;
	padding: 20px;
	text-align: center;
	margin-bottom: 1px;

	@media (min-width: $desktop-widths) {
		padding: 40px;
		font-size: 23px;
	}

	&__title {
		font-family: "PF Din Text Cond Pro - X Thin", sans-serif;
		text-transform: uppercase;
		font-weight: 300;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	&--super {
		background: #c8af6d url(../img/bg-lease-item--super.png) no-repeat center;
		background-size: cover;

		@media (min-width: $desktop-widths) {
			background-image: url(../img/bg-lease-item--super-big.png);
		}
	}

	@media (min-width: 550px) {
		width: 50%;
		flex-grow: 1;
	}
}