.page-footer {
	background: #ebebeb;
	padding: 35px 0;
	color: #333333;
	font-family: "Arial", sans-serif;
	font-size: 15px;
	line-height: 1.25;

	@media (min-width: $desktop-widths) {
		padding: 32px 0;
	}

	&__wrap {
		@media (min-width: $desktop-widths) {
			display: flex;
		}
	}

	&__right-col {
		@media (min-width: $desktop-widths) {
			flex-grow: 1;
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: space-between;
		}
	}
}