.page-header {
	padding: 20px 0 10px;
	position: relative;

	@media (min-width: $desktop-widths) {
		padding: 25px 0 10px;

		.row {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__right-col {
			flex-grow: 1;
			padding-left: 35px;
		}
	}
}