.page-footer-fixed {
	background: #ebebeb;
	padding: 30px 0;
	color: #333333;
	font-family: "Arial", sans-serif;
	font-size: 15px;
	line-height: 1.25;

	&__wrap {
		display: flex;
	}

	&__right-col {
		flex-grow: 1;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
	}
}