.page-header-fixed {
	padding: 25px 0 10px;
	position: relative;

	.row {
		display: flex;
		justify-content: space-between;

		&--vertical-center {
			align-items: center;
		}
	}

	&__right-col {
		padding-top: 5px;
		flex-grow: 1;
		padding-left: 30px;
	}
		
}