.search {
	padding: 15px 0;
	
	&__form {
		box-shadow: 0 0 0 5px #ededed;
		border: 1px solid #f345c4;
		border-radius: 20px;
		background: #fff;

		display: flex;
		max-width: 860px;
		margin: 0 auto;
	}

	&__input,
	&__btn {
		background: none;
		border: none;
	}

	&__input {
		flex-grow: 1;
		color: #231e1f;
		font-family: "Arial", sans-serif;
		font-size: 14px;
		line-height: 25px;
		padding: 8px 20px;
		font-style: italic;
		font-weight: 500;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
		padding-right: 5px;

		&::placeholder {
			opacity: 1;
			color: #231e1f;
		}

		&:focus {
			outline: none;
		}
	}

	&__btn {
		padding: 0;
		font-size: 0;
		width: 50px;
		background: url(../img/icon-search.png) no-repeat;
		background-position: center;
		cursor: pointer;
	}


}