.walks {
	padding: 10px 0;

	@media (min-width: $desktop-widths) {
		.container {
			display: flex;
			aligin-items: center;
		}
	}
	
	&__title {
		text-shadow: 0 0 38px #ffffff;
		color: #1b1617;
		font-family: "PT Serif";
		font-size: 21px;
		font-style: italic;
		margin: 0;
		margin-bottom: 10px;
		font-weight: normal;
		text-align: center;
		line-height: 1;

		@media (min-width: $desktop-widths) {
			margin-bottom: 0;
			font-size: 28px;
			margin-right: 40px;
		}
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;

		display: flex;
		justify-content: center;
	}

	&__item {
		flex-grow: 1;
		margin-right: 5px;
		max-width: 100px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		display: block;
		padding: 1px;
		background: linear-gradient(to right, #ee58c5, #9c0072);
		border-radius: 20px;
		color: #231e1f;
		font-family: "Arial", sans-serif;
		font-size: 10px;
		line-height: 22px;
		text-transform: uppercase;
		letter-spacing: 0.55px;
		text-decoration: none;
		text-align: center;

		@media (min-width: $desktop-widths) {
			font-size: 11px;
		}

		span {
			display: block;
			background: #fff;
			padding: 4px 10px;

			border-radius: 20px;

			@media (min-width: $desktop-widths) {
				padding: 5px 20px;
			}
		}
	}
}